.logo {
  margin-left: 60px;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.crowz {
  display: inline-block;
  vertical-align: middle;
  font-family: "Lucida Console", "Courier New", monospace;
}

.profile {
  text-align: center;
}

.robertPic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.robertName {
  font-family: "Times New Roman", Times, serif;
  line-height: 0.8;
}

.designation {
  line-height: 0.9;
  color: rgb(144, 144, 151);
}

.text {
  text-align: center;
}

.menues {
  text-align: center;
}

.menu {
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

.menu:hover {
  font-weight: 900;
  vertical-align: middle;
  cursor: pointer;
}

.logoutIcon {
  margin-left: 75px;
  display: inline-block;
  vertical-align: middle;
}

.logoutButton {
  color: black;
  display: inline-block;
  vertical-align: middle;
}

.logoutButton:hover {
  font-weight: 900;
  cursor: pointer;
}
