.performers {
  flex-direction: row;
  margin-left: 61%;
  margin-top: -32.5%;
}

.h2 {
  font-family: "Georgia", Times, serif;
}

.dp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.h4 {
  vertical-align: middle;
  margin-top: -8%;
  padding-left: 55px;
}

.tag {
  vertical-align: middle;
  margin-top: -18%;
  padding-left: 200px;
}

.percent {
  vertical-align: middle;
  margin-top: -15%;
  padding-left: 335px;
}

.view {
  padding-top: -13px;
  display: flex;
}

.icon {
  color: gray;
  vertical-align: middle;
  margin-top: -18%;
  margin-left: 17%;
  padding-left: 9px;
}
