.bigCard {
  height: 240px;
  width: 980px;
  /* border-radius: 20%; */
}

.channels {
  padding: 10px;
  margin-top: 5%;
  font-family: "Georgia", Times, serif;
}

.cardContent {
  margin-left: 15px;
}

.sub {
  padding: 10px;
  color: rgb(114, 113, 113);
  margin-top: -27px;
}

.week {
  color: black;
  font-weight: bold;
}

.dribbleCard {
  height: 150px;
  width: 140px;
  position: relative;
  bottom: 130px;
  left: 250px;
  float: left;
  margin-right: 23px;
}

.dContent {
  text-align: center;
  line-height: 0px;
}

.dtag {
  margin-top: 2%;
}

.stats {
  background-color: rgb(81, 175, 182);
}

.h3stats {
  color: white;
}

.statsIcon {
  color: white;
}

.logos {
  position: absolute;
  margin-left: 304px;
  margin-top: -150px;
}

.dlogo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-inline-end: 120px;
}

.blogo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-inline-end: 120px;
  margin-left: 8px;
}

.ilogo {
  height: 37px;
  width: 39px;
  border-radius: 50%;
  margin-inline-end: 120px;
  margin-left: 6px;
}

.plogo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-inline-end: 120px;
  margin-left: 4px;
}
