.home {
  margin-left: 21.5%;
  margin-top: 1%;
}

h1 {
  font-family: "Georgia", Times, serif;
  display: inline-block;
  vertical-align: middle;
}

.setNot {
  margin-left: 28%;
  display: inline-block;
}

.notification {
  color: rgb(207, 52, 52);
  vertical-align: middle;
}

.settings {
  vertical-align: middle;
}

.upCard {
  margin-left: 61%;
  margin-top: -14%;
  display: flex;
  flex-direction: row;
}
