.home {
  margin-left: 330px;
  margin-right: 90px;
  margin-top: 30px;
}

h1 {
  font-family: "Georgia", Times, serif;
  display: inline-block;
  vertical-align: middle;
}

.setNot {
  margin-left: 16%;
  margin-top: 20px;
  float: right;
}

.notification {
  color: rgb(207, 52, 52);
  vertical-align: middle;
}

.settings {
  vertical-align: middle;
}

.reach {
  margin-top: 30px;
}

.upCard {
  float: right;
  vertical-align: middle;
}

.secondContainer {
  margin-top: 70px;
}

.topPerformers {
  float: right;
  vertical-align: middle;
}
