.home {
  margin-left: 20%;
}

h1 {
  font-family: "Georgia", Times, serif;

  display: inline-block;
  vertical-align: middle;
}

.setNot {
  margin-left: 28%;
  display: inline-block;
}

.notification {
  color: rgb(207, 52, 52);
  vertical-align: middle;
}

.settings {
  vertical-align: middle;
}

.upCard {
  margin-left: 58%;
  /* display: inline-block;
  vertical-align: middle; */
}
