.views {
  line-height: 0.1;
  width: 22%;
  display: inline-block;
  vertical-align: middle;
}

.followers {
  line-height: 0.1;
  width: 22%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 18%;
}

.reposts {
  line-height: 0.1;
  width: 22%;
  float: right;
  vertical-align: middle;
}

p {
  color: rgb(144, 144, 151);
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-family: "Apple Chancery", Comic Sans, cursive;
}

.arrow1 {
  color: rgb(5, 146, 156);
  float: right;
  vertical-align: middle;
}

.arrow2 {
  color: rgb(156, 35, 5);
  float: right;
  vertical-align: middle;
}

.arrow3 {
  color: rgb(5, 146, 156);
  float: right;
  vertical-align: middle;
}
