.info {
  line-height: 0.1;
  width: 9.5%;
  margin-inline-end: 13%;
  display: inline-block;
  vertical-align: middle;
}
p {
  color: rgb(144, 144, 151);
  display: inline-block;
  vertical-align: middle;
}

h2 {
  font-family: "Apple Chancery", Comic Sans, cursive;
}

.arrow1 {
  color: rgb(5, 146, 156);
  margin-left: 36%;
  vertical-align: middle;
}

.arrow2 {
  color: rgb(156, 35, 5);
  margin-left: 11%;
  vertical-align: middle;
}

.arrow3 {
  color: rgb(5, 146, 156);
  margin-left: 21%;
  vertical-align: middle;
}
